# Visual Studio
.vs/
*.user
*.suo
*.ipch
*.obj
*.pch
*.pdb
*.exe
*.ilk
*.log
Report/LR 1 Mykhailo Yevchuk.zip Report/LR2 Yevchuk Mykhailo.zip Report/LR4 Yevchuk Mykhailo.zip Report/LR5 Yevchuk Mykhailo.zip Report/LR6 Yevchuk Mykhailo.zip
Report/LR3 Yevchuk Mykhailo.rar
Report/*.zip
Report/*.rar
